<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../../views/img/Ativo 2.svg">PCPRO</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="../cadastro">Cadastro</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="../quemsomos.ejs">Quemsomos</a>
   </li>
            <li class="nav-item">
                <a class="nav-link" href="../categorias">Categorias</a>
           </li>
        </ul>
    </div>
 </nav>