<%- include("base", { title: "Quem Somos", body: `
<h1>Alcance o nível PRO com a PCPRO</h1>
<p>A PCPRO é uma empresa dedicada a fornecer soluções especializadas em montagem, 
    upgrade e manutenção de computadores e notebooks, com um foco especial em alto desempenho. 
    Nosso público-alvo são gamers e profissionais que precisam de máquinas potentes e eficientes para suas 
    atividades, oferecendo desde configurações voltadas para uso em escritório até setups de altíssima 
    performance para renderização e jogos exigentes.</p>
    <img src="/images/quem-somos.jpg" alt="Imagem de equipe">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tBM97KbGzm0?si=AQapCF3aoIfWe2eS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    ` }) %>