<footer class="footer mt-auto bg-primary">
    <div class="container">
        <span class="text-muted">
            Rodapé
        </span>
        <img src="../img/gpu-card.svg" alt="">
        <img src="../img/nvidia (1).svg" alt="">
    </div>
</footer>